seminar-proposal.*
!seminar-proposal.tex
!seminar-proposal.pdf

article-journal-en.*
!article-journal-en.tex
!article-journal-en.pdf

article-journal.*
!article-journal.tex
!article-journal.pdf

seminar-hasil.*
!seminar-hasil.tex
!seminar-hasil.pdf

skripsi.*
!skripsi.tex
!skripsi.pdf